<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaforma de cursos Online</title>
</head>
<body>
    <h1>Bem-vindo a Plaforma de cursos online</h1>
    <form action="">
        <input type="radio" name="mana" id="mana" value="Mana"><label for="mana">Mana</label><br><br>
        <input  type="radio" name="mana" id="mana1" value="Mana"><label for="mana1">Mana1</label><br><br>
        <input  type="radio" name="mana" id="mana2" value="Mana2"><label for="mana2">Mana2</label><br><br>
        <input type="radio" name="mana" id="mana3"  value="Mana3"><label for="mana3">Mana3</label><br><br>
    </form>
    <script>
        var resposta = "mana2";
    </script>
</body>
</html>